@import './app'
@import './components/*'
@import './pages/*'
@import './fontsTheme/*'

// custom statements Overwrite

$font-regular = 'Proxima Nova Rg', sans-serif 
$font-semibold = 'Proxima Nova Sb', sans-serif 
$font-bold = 'Proxima Nova Bl', sans-serif 

$height-navigator = 104px 

$color-primary = #342DA0

// Utility mixins

mixin-border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n


mixin-user-no-select()
    -webkit-user-select none   /* Chrome all / Safari all */
    -moz-user-select none      /* Firefox all */
    -ms-user-select none       /* IE 10+ */
    user-select none           /* Likely future */


mixin-gradient-background(c1, c2)
    background c1 
    background -moz-linear-gradient(90deg, c1 0%, c2 100%) 
    background -webkit-linear-gradient(90deg, c1 0%, c2 100%) 
    background linear-gradient(90deg, c1 0%, c2 100%) 

// Padding and margin utilities

.pgrs_m_0
    margin 0 !important 
.pgrs_p_0
    padding 0 !important 
.pgrs_py_0
    padding-top 0 
    padding-bottom 0 
.pgrs_px_0
    padding-left 0 
    padding-right 0   
.pgrs_my_0
    margin-top 0 
    margin-bottom 0     
.pgrs_mx_0
    margin-left 0 
    margin-right 0     


//- Parapgraph size

.pgrs_p8
    font-size 8pt
.pgrs_p9
    font-size 9pt
.pgrs_p10
    font-size 10pt
.pgrs_p11
    font-size 11pt
.pgrs_p12
    font-size 12pt
.pgrs_p13
    font-size 13pt
.pgrs_p14
    font-size 15pt
.pgrs_p15
    font-size 15pt
.pgrs_p16
    font-size 16pt
.pgrs_p17
    font-size 17pt

//base-convert()

.pgrs_center
    text-align center

.pgrs_semibold
    font-family $font-semibold

.pgrs_bold
    font-family $font-bold

.pgrs_relative
    position relative

.pgrs_full_width
    width 100%

.pgrs_btn_capitalize
    .v-btn__content
        text-transform capitalize !important

//- Modificators 

.application--wrap
    background $color-primary !important

.pgrs_secondary_btn_color
    .v-btn__content
        color $color-primary
        font-family $font-semibold

.pgrs_bg_primary
    background $color-primary !important
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1)

.v-content
    padding 0 !important

//---- PRELOADER COMPONENT

#pgrs_global_preloader
    transition all ease 7s 
    background $color-primary
    //filter progidDXImageTransform.Microsoft.gradient(startColorstr="#02a6ea",endColorstr="#1ecbd8",GradientType=1)  
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 20
    .inner-cont
        position relative
        top 30%    
        width 250px
        height 200px
        position absolute
        margin 0 auto
        left 0
        right 0
        color white
        .pgrs_progress
            position relative



//_--------------
#pgrs_bg_login
    background $color-primary
    min-height 100vh
    display flex
    position relative

//border 1px solid red
#pgrs_frame1
    background url('../../assets/img/frame1.svg')
    position absolute
    background-repeat no-repeat
    width 265px
    height 291px
    left 0
    top 0
#pgrs_frame2
    background url('../../assets/img/frame2.svg')
    position absolute
    background-repeat no-repeat
    width 265px
    height 285px
    right 0
    bottom 0
#pgrs_frame3
    background url('../../assets/img/frame3.svg')
    position absolute
    background-repeat no-repeat
    width 265px
    height 285px
    left 0
    bottom 0

#pgrs_frame4
    background url('../../assets/img/frame1.svg')
    position absolute
    background-repeat no-repeat
    width 265px
    height 291px
    right 0
    top -1em
    transform rotate(90deg)

#pgrs_base_f
    background url('../../assets/img/base_f.svg')
    position absolute
    background-repeat no-repeat
    width 180px
    height 75px
    left 0
    right 0
    bottom 0
    margin 0 auto

#pgrs_circle_base
    background url('../../assets/img/concentric_schema.svg')
    position absolute
    width 394px
    height 394px
    margin 0 auto
    top -20%
    left 0
    right 0
    background-repeat no-repeat

// Component nav
#toolbar
    height $height-navigator
    .v-toolbar__content
        height 56px !important

@media (min-width 960px) and (max-width1023px) 
    #toolbar
        height 56px !important

@media (min-width 623px) and (max-width 667px)
    #toolbar
        height 56px !important

@media screen and (max-width 667px)
    #toolbar
        height 56px !important

@media (min-width 668px) and (max-width 959px)
    #toolbar
        height 56px !important

.pgrs_top_navbar
    align-items flex-end 
    display flex 
    flex-direction row 
    font-family $font-regular 
    height $height-navigator 
    position fixed 
    top 0 
    left 0 
    right 0 
    z-index 10
 

.pgrs_top_navbar #pgrs_brand_sec_small
    //background rgba(255,255,255,0.9) 
    border-radius 4px 
    display flex   
    flex 0 0 auto 
    margin-right 0.4em 
   
    img 
        max-width 200px



ul.pgrs_list_top_nav
    list-style none 
    text-decoration none 
    position relative 
    flex-direction row 
    align-items center 
    display flex 
    padding-left 0.5em !important
    .pgrs_sublist-item
        padding-right 1.3em 
        &:hover
            .prgs_sublist-nav
                max-height 400px 
                margin-top 0 
            
        
        &:after
            content '\25bc' 
            color white 
            height 5px 
            display flex 
            flex 1 1 auto 
            line-height 0 
            position absolute 
            width 10px 
            right 1em 
            top 1.9em 
            font-size 8pt 
        
    
    li
        font-family $font-regular 
        cursor pointer 
        display inline-block 
        position relative 
        border-radius $button-border-radius 
        mixin-user-no-select() 
        &:hover
            background rgba(0,0,0,0.15) 
        
        .cont-indicator
            display flex 
            flex-direction row 
            margin-top -6px
            .cont-spacer
                display flex 
                flex 0 0 10% 
                height 4px 
            
            .c-indicator
               position relative  
               flex 1 1 90% 
               height 4px 
               .indicator
                    background transparent  
                    margin 0 auto  
                    border-radius 3em 
                    position absolute 
                    width 20px  
                    height 2px  
                    top 0.2em 
                    left 0 
                    right 0   
                
                .indicator-marked
                    background #FCC250 !important     
                
            
        
        a
            color white 
            display flex 
            flex-direction row 
            align-items center 
            text-decoration none 
            font-size 16px
            padding 0.8em 1em 0.8em 1em 
            .prgs_icon_item
                flex 0 0 auto 
            
            .prgs_label_item
                margin-left 0.5em 
                flex 1 1 auto  
                text-transform capitalize   

.pgrs_control_sec
    flex 1 1 auto 
    display flex 
    flex-direction row 
    justify-content flex-end 
    align-items center 
    max-width 255px
    position relative
    .pgrs_btn_login
        .pgrs_float_login
            background rgba(255,255,255,0.1)
            width 300px
            top 4.5em
            right 0
            border-radius 4px
            position absolute
            &:after
                content ''
                position absolute
                width 0
                height 0
                border-left 10px solid transparent
                border-right 10px solid transparent
                border-bottom 10px solid rgba(255,255,255,0.1)
                top -0.7em
                right 4em

    .pgrs_label_profile
        .pgrs_label_p
            background #CBE39F 
            padding 0.3em 
            color #000 
            font-size 8pt 
            border-radius 2em 
            text-align center 
    
    .pgrs_cont_btn
        display flex 
        flex 1 1 auto   
    
    .pgrs_access-profile
        .pgrs_access_menu
            position relative
            &:after
                content '\25bc' 
                color white 
                height 8px 
                display flex 
                flex 1 1 auto 
                line-height 0 
                position absolute 
                width 10px 
                right -0.3em 
                top 1em 
                font-size 8pt 
        .pgrs_profile
            width 44px !important 
            height44px !important 
            background rgba(255,255,255,0.3) 
            position relative 
            border-radius 10em 
            padding .18em 
            cursor pointer 
            
            .pgrs_photo
                background #FCC250
                border-radius 10em 
                overflow hidden 
                width 38px 
                height 38px 
            
//_------------------------------
//-- COMPONENT GLOBAL SEARCH BAR
//-------------------------------

.pgrs_finder_bar
    background rgba(255,255,255,0.1)
    padding 0.4em 0.5em
    border-radius 10em
    .pgrs_input_cont
        border-top-left-radius 10em
        border-bottom-left-radius 10em
        .pgrs_input_s
            color inherit
            .v-input__slot
                border-top-left-radius 10em
                border-bottom-left-radius 10em
                padding 0em 1.3em
                box-shadow none
                font-family $font-semibold
    .pgrs_btn_s
        border-top-right-radius 10em
        border-bottom-right-radius 10em
        height 100%
        width 100%
    .pgrs_input_filter
        .v-input__slot
            border-radius 0
            font-family $font-semibold  
            .v-input__append-inner
                .v-input__icon--append
                    .v-icon
                        font-size 10pt

//_------------------------------
//-- HOME PAGE
//-------------------------------

.pgrs_home_head_sec
    background darken($color-primary, 4)
    padding-bottom 15em
    padding-top 3em
    position relative

#first-section-home
    margin-top -15em

.pgrs_main_title_section
    background lighten($color-primary, 4)
    color white
    text-align center
    font-size 14pt
    z-index 2
    border-top-left-radius 20px
    border-top-right-radius 20px
    position relative
    padding 0.6em 0em 0em 0em
    &:before
        content ''
        position absolute
        width 0
        height 0
        left -38px
        border-bottom 40px solid lighten($color-primary, 4)
        border-left 40px solid transparent
    &:after
        content ''
        position absolute
        width 0
        height 0
        right -38px
        border-bottom 40px solid lighten($color-primary, 4)
        border-right 40px solid transparent

.pgrs_cont_favorites
    background lighten($color-primary, 4)
    border-radius 6px
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2)
    padding: 0em 0.8em 0.8em 0.8em
    position relative
    z-index 2
    .pgrs_dynamic_content_fill
        max-height 0px
        transition: all ease 0.24s
        overflow hidden
    .pgrs_dynamic_content_fill_open
        max-height 1000px
